html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 2em;
    color: rgb(125, 116, 116);
}

.pimg1{
    background-image: url(/assets/images/img1.jpg);
    min-height: 100%;
    
}
.pimg4{
    background-image: url(/assets/images/Dubai.jpg);
    min-height: 100%;
}
.pimg2{
    background-image: url(/assets/images/Mumbai.jpg);
    min-height: 400px;
}
.pimg3{
    background-image: url(/assets/images/Shanghai.jpg);
    min-height: 400px;
}
.pimg1, .pimg2, .pimg3 ,.pimg4{
    opacity: 0.7;
    position:relative;
    background-position: center;    
    background-size: cover;  
    background-repeat: no-repeat;

    /* to bring parallax effect */
    background-attachment: fixed;

}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-dark{
    background-color: rgb(47, 40, 40);
    color: antiquewhite;
}
.section-light{
    background-color:rgb(246, 226, 199) ;
    color: rgb(39, 32, 32);
}
.ptext{
    position: absolute;
    top:50%;
    width: 100%;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
}
.span{
    background-color: rgb(247, 238, 238);
    padding: 10px;
}
